<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kg.konggang_guide">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DefaultTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".other.activity.ChangePasswordActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".other.activity.LoginActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".other.activity.OrderActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".other.activity.PriceDitailsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".other.activity.MessageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".other.activity.InputAddressActivity"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name=".personal.activity.MyActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".personal.activity.MyOrderActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".other.activity.PriceActivity"
            android:screenOrientation="landscape" ></activity>
    </application>

</manifest>